header{color:#333;
    .wrap{color:#333;
        h1{color:#333;
            a{color:#333;

            }
        }
        ul.gnb{color:#333;
            li{color:#333;
                h2{color:#333;
                    a{color:#333;

                    }
                }
                ul.sub{color:#333;
                    li{color:#333;
                        a{color:#333;

                        }
                    }
                }
            }
        }
        ul.enb{color:#333;
            li{color:#333;
                a{color:#333;

                }
            }
        }
        a.allmenu{color:#333;

        }
    }
}