#title{color:111;
    .wrap{color:111;

    }
    ul.slide{color:111;
        li{color:111;
            h2{color:111;

            }
            p{color:111;

            }
        }
    }
    span.control{color:111;

    }
}